<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
</head>
<body>

<div class="container flex flex-col" th:fragment="content">
    <h1 class="text-center">About Us</h1>
    <section class="flex text-center place-self-center max-w-2xl mt-16">
        <p>
            The Cade is your ultimate destination for cutting-edge arcade parts and unbeatable deals.
            Discover the latest imports directly from Japan, featuring top-tier brands
            like the legendary button maker Sanwa and renowned PCB manufacturer Brooks.
            Elevate your gaming experience with premium components crafted for serious arcade enthusiasts.
            Come explore what’s new and upgrade your setup today!
        </p>
    </section>

</div>
</body>
</html>